#species_list li {
    cursor: pointer;
}


.ui-checkbox input {
  outline: 1px solid white !important;
  z-index: 999;
}
/*
.ui-checkbox input, .ui-radio input {
  outline: 1px solid white !important;
  z-index: 999;
}*/

.error {
  clear: both;
  color: red;
}

.ui-btn-right.delete {
  right: 6em;
}

.view_loc {
  white-space: normal;
}

li.ui-field-contain.photo-li .ui-input-text {
  width: 20em;
  max-width: 80%;
}