*.pyc
local_settings.py
htdocs
htdocs-build
native/build
lib
themes.css
*.appcache
rjs*
*.db
/nbproject/private/
app/images/icons/desktop.ini
nbproject/project.xml
nbproject/project.properties
logs/errors.log
*.ini