<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.wygisc.wyobio"
    version     = "{{version}}" >

  <name>WyoBio</name>
  <description>
    WyoBio: Contribute your animal, bird, plant, insect and fungi observations! The Wyoming Biodiversity Citizen Science Initiative (WyoBio) is a project intended to connect all citizens and visitors in Wyoming USA with information about biodiversity - contribute your species observations while you are on a hike, or from your backyard. Snap a photo, select a species from the list, and submit your information. This mobile app is part of a broader project and map application. Visit our website for additional information.
  </description>   
  <author href="https://wyobio.org" email="wygisc@uwyo.edu">
    WyGISC
  </author>

  <preference name='phonegap-version' value='cli-5.2.0' />
  <preference name="permissions" value="none" />
  <preference name="android-installLocation" value="auto" />

  <gap:platform name="android" />
  <gap:platform name="ios" />

  <gap:plugin name="org.apache.cordova.camera" source='pgb' />
  <gap:plugin name="org.apache.cordova.geolocation" source='pgb' />
  <gap:plugin name="cordova-plugin-inappbrowser" source='npm' />
  <gap:plugin name="com.adobe.plugins.gaplugin" source='pgb' />

  <gap:plugin name='org.crosswalk.engine' version='1.3.0' source='pgb' />

  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
  <access origin="*" />
  
  <gap:splash src="splash.png" />
  
  <icon src="images/icons/apple-touch-icon-180x180.png" gap:platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
   <icon src="images/icons/apple-touch-icon-60x60.png" gap:platform="ios" width="60" height="60" />
   <icon src="images/icons/apple-touch-icon-120x120.png" gap:platform="ios" width="120" height="120" />

<!-- iPad -->
   <icon src="images/icons/apple-touch-icon-76x76.png" gap:platform="ios" width="76" height="76" />
   <icon src="images/icons/apple-touch-icon-152x152.png" gap:platform="ios" width="152" height="152" />
   <icon src="images/icons/favicon-32x32.png" gap:platform="android" gap:qualifier="ldpi" />
<!-- 
<icon src="images/icons/apple-touch-icon-72x72.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="images/icons/favicon-96x96.png" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="images/icons/apple-touch-icon-144x144.png" gap:platform="android" gap:qualifier="xxhdpi" /> -->

<!-- Android -->

<icon src="images/icons/drawable-ldpi/ic_launcher.png" gap:platform="android" gap:qualifier="ldpi" />
<icon src="images/icons/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="images/icons/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="images/icons/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="images/icons/drawable-xxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxhdpi" />
<icon src="images/icons/drawable-xxxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />


</widget>
