<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>About WyoBio Mobile</h1>
      </div>
      <div class="ui-content" role="main">
        <h1>WyoBio Mobile</h1>
		<p><h3>Citizen Science = Science for Everyone!</h3></p>
		<p>WyoBio: Contribute your animal, bird, plant, insect and fungi observations! The Wyoming Biodiversity Citizen Science Initiative (WyoBio) is a project intended to connect all citizens and visitors in Wyoming USA with information about biodiversity - contribute your species observations while you are on a hike, or from your backyard. Snap a photo, select a species from the list, and submit your information. This mobile app is part of a broader project and map application. Visit our website for additional information.</p>
		<ul style="list-style: none; text-decoration: none; ">
		<li>
            <a href="http://wyobio.org" target="_blank" rel="external"  style="text-decoration: none; ">
              <h3>Visit our website</h3>
            </a>
          </li>
		  <li>
            <a href="http://wyobio.org/about/contact-us/" target="_blank" rel="external"  style="text-decoration: none; ">
              <h3>Contact us</h3>
            </a>
          </li>
		  		<li>
            <a href="http://wyobio.org/about/" target="_blank" rel="external"  style="text-decoration: none; ">
              <h3>Project partners</h3>
            </a>
          </li>
		  </ul>
		  <p><h3>University of Wyoming Biodiversity Institute</h3></p>
		<p>The Biodiversity Institute is responsible for the vision, educational components and promotion of WyoBio.</p>
		<ul style="list-style: none; text-decoration: none; ">
		<li>
            <a href="http://www.wyomingbiodiversity.org/" target="_blank" rel="external"  style="text-decoration: none; ">
              <h3>Biodiversity Institute</h3>
            </a>
          </li>
		  </ul>
		<p></p>
		<p><h3>Wyoming Geographic Information Science Center</h3></p>
		<p>WyGISC is responsible for all technical components of WyoBio.</p>
		<ul style="list-style: none; text-decoration: none; ">
		<li>
            <a href="http://www.uwyo.edu/wygisc/" target="_blank" rel="external"  style="text-decoration: none; ">
              <h3>WyGISC</h3>
            </a>
          </li>
		  </ul>
		<p></p>
		<p><h3>Development</h3></p>
		<ul style="list-style: none; text-decoration: none; ">
		<li>
            <a href="https://wq.io/" target="_blank" rel="external"  style="text-decoration: none; ">
              <h3>wq Framework</h3>
            </a>
          </li>
		  </ul>
		<p>The WyoBio Mobile Application was built using wq. wq is a modular, open source framework for building custom offline-capable mobile-friendly web apps for citizen science, crowdsourcing, and volunteered geographic information.</p>
		
		<img src="{{rt}}/images/wyobiologo100.png" alt="WyoBio" align="justify">
		  <p></p>
      </div>
    </div>
  </body>
</html>
