<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>About WyoBio Mobile BETA</h1>
      </div>
      <div class="ui-content" role="main">
        <h1>WyoBio Mobile BETA</h1>
		<p><h3>Citizen Science = Science for EverySone!</h3></p>
		<p>This mobile data collection application is currently in BETA form, and is intended to be used for testing purposes. The Wyoming Biodiversity Citizen Science Initiative (WyoBio) is a project intended to connect all people, especially Wyoming citizens, with information about biodiversity, including plants, animals and fungi.</p>
		<ul style="list-style: none; text-decoration: none; ">
		<li>
            <a href="http://wyobio.org/application/" style="text-decoration: none; ">
              <h3>Full map</h3>
            </a>
          </li>
		  <li>
            <a href="http://wyobio.org/about/" style="text-decoration: none; ">
              <h3>More about WyoBio</h3>
            </a>
          </li>
		<li>
            <a href="http://wyobio.org" style="text-decoration: none; ">
              <h3>Visit our website</h3>
            </a>
          </li>
		  <li>
            <a href="http://wyobio.org/about/contact-us/" style="text-decoration: none; ">
              <h3>Contact us</h3>
            </a>
          </li>
		  </ul>
		  <p><h2>Project Partners</h2></p>
		  <p><h3>University of Wyoming Biodiversity Institute</h3></p>
		<p>The Biodiversity Institute is responsible for the vision, educational components and promotion of WyoBio.</p>
		<p></p>
		<p><h3>Wyoming Geographic Information Science Center</h3></p>
		<p>WyGISC is responsible for all technical components of WyoBio.</p>
		<p></p>
		<p><h2>Acknowledgments</h2></p>
		  <p><h3>wq</h3></p>
		<p>The WyoBio Mobile Application was built using wq. wq is a modular framework for building custom offline-capable desktop and mobile web apps for volunteered geographic information, citizen science, and crowdsourcing.</p>
		<img src="{{rt}}/images/wyobiologo100.png" alt="WyoBio" align="justify">
		  <p></p>
      </div>
    </div>
  </body>
</html>
