<!DOCTYPE html>
<html manifest="wyobio.appcache">
  <head>
    <title>WyoBio</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>WyoBio</h1>
      </div>
      <div data-role="content">
        <ul data-role="listview">
          <li class="logged-out"><a href="/login"><img src="/images/login_g.png" alt="Add observation" align="left">Log In</a></li>
          <li class="logged-in"><a href="/logout"><img src="/images/login_g.png" alt="Add observation" align="left">Log Out</a></li>
          <li><a href="/observations/new"><img src="/images/add_g.png" alt="Add observation" align="left">Share Observation</a></li>
          <li><a href="/observations"><img src="/images/obs_g.png" alt="Add observation" align="left">See Observations</a></li>
          <li><a href="/species"><img src="/images/about_g.png" alt="Add observation" align="left">About WyoBio</a></li>
        </ul>
        <p>Version {{version}}</p>
      </div>
    </div>
  </body>
</html>
 