<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}  
        <h1>{{label}}</h1>
      </div>
      <div data-role="content">
        <h3>{{label}}</h3>
        <ul data-role="listview">
          <li><a href="/points/{{point_id}}">Point: {{point_label}}</a></li>
        </ul>
        {{#attachments}}
        <img src="/viewimage/{{id}}" style="max-width:100%">
        {{/attachments}}
      </div>
    </div>
  </body>
</html>
