<!DOCTYPE html>
<html>
    <head>
        <title>{{label}}</title>
        {{>head}}
    </head>
    <body>
        <div data-role="page" class="ui-page">
            <div data-role="header">
                {{>home}}  
                <h1>{{label}}</h1>
                {{#outbox_id}}
                <button class="delete ui-btn-right" data-outbox-id="{{outbox_id}}" data-icon="delete">Delete</button>
                <a class="ui-btn-right" href="{{rt}}/outbox/{{outbox_id}}/edit" data-icon="edit">Edit</a>
                {{/outbox_id}}
            </div>
            <div data-role="content">
                
                <p><b>Species</b>: <i>{{species_guess}}{{species_label}}</i></p>
                <p><b>Sample Date</b>: <i>{{sampdate}}</i></p>
                <p><b>Search Duration (seconds)</b>: <i>{{searchdurationsec}}</i></p>
                <p><b>Sample Size</b>: <i>{{size}}</i></p>
                <p><b>Number of People</b>: <i>{{numpeople}}</i></p>
                <p><b>Species Description</b>: <i>{{speciesdescription}}</i></p>
                <p><b>Comments</b>: <i>{{comments}}</i></p>
                {{#attachments}}
                <p>
                    <img src="{{svc}}/media/600/{{id}}.jpg" style="width:300px">
                </p>
                {{/attachments}}
                {{^attachments}}
                {{#photos}}
                <img src="{{image_url}}" style="width:300px">
                {{/photos}}
                {{^photos}}<img src="{{rt}}/images/empty.png">{{/photos}}
                {{/attachments}}

            </div>

        </div>
    </body>
</html>
