<!DOCTYPE html>
<html>
  <head>
    <title>Submit Observation</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Submit Observation</h1>
      </div>
      <div class="ui-content" role="main">
        <form action="/observations/" data-ajax="false" method="post">
          {{>csrf}}
        <ul data-role="listview">
		  <!--
          <li data-role="fieldcontain">
            <label for="species">Species</label>
            <select id="species" name="species_id" required>
              <option value="">Enter a species...</option>
            {{#species_list}}
              <option value="{{id}}">{{label}}</option>
            {{/species_list}}
            </select>
          </li>
		  -->
          <li data-role="fieldcontain">
            <label for="image">Photo</label>
            <input type="file" multiple name="attachments[0][data]" id="image">
          </li>
		  <!--
          <li data-role="fieldcontain">
            <label for="date">Date</label>
            <input type="date" name="date" id="date">
          </li>
		  <li data-role="fieldcontain">
		    <label for='weather_id'>Weather Conditions</label>
			<select name="weather_id" id="weather_id">
			  <option value="">Select one...</option>
			{{#weather_list}}
			  <option value="{{id}}">{{label}}</option>
			{{/weather_list}}
			</select>
		  </li>
		  -->

          <li data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal">
              <legend>Location Mode</legend>
              <input type='radio' value='gps' id='loc-gps' name='mode' checked>
              <label for='loc-gps'>Current</label>
              <input type='radio' value='interactive' id='loc-interactive' name='mode'>
              <label for='loc-interactive'>Use Map</label>
              <input type='radio' value='manual' id='loc-manual' name='mode'>
              <label for='loc-manual'>Enter Coords</label>
            </fieldset>
          </li>
          <li data-role="fieldcontain" class='edit-loc'>
            <label for="longitude">Longitude</label>
            <input id="longitude" name="longitude" type="tel">
          </li>
          <li data-role="fieldcontain" class='edit-loc'>
            <label for="latitude">Latitude</label>
            <input id="latitude" name="latitude" type="tel">
          </li>
          <li data-role="fieldcontain" class='edit-loc'>
            <label for="accuracy">Accuracy</label>
            <input id="accuracy" name="accuracy" type="tel">
          </li>
          <li data-role="fieldcontain">
            <div id="observation-new-map" style="height:300px;"></div>
          </li>
          <li data-role="fieldcontain">
            <label for="comments">Notes</label>
            <textarea name="comments" id="comments"></textarea>
          </li>
          <li><p class="error observation-errors"></p></li>
          <li>
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <a href="/" data-role="button">Cancel</a>
              </div>
              <div class="ui-block-b">
                <button type="submit" data-theme="b">Submit</button>
              </div>
            </div>
          </div>
        </ul>
        </form>
      </div>
    </div>
  </body>
</html>
