<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}  
        <h1>{{label}}</h1>
        {{#outbox_id}}
        <a href="/outbox/{{outbox_id}}/edit" data-icon="edit">Edit</a>
        {{/outbox_id}}
       </div>
      <div data-role="content">
        <h3>{{label}}</h3>
        <p>{{comments}}</p>
        {{#attachments}}
        <p>
          <img src="/viewimage/{{id}}" style="max-width:100%">
        </p>
        {{/attachments}}
        {{^attachments}}
        {{#photos}}
        <img src="{{image_url}}"style="max-width:100%">
        {{/photos}}
        {{^photos}}<img src="{{router_info.base_url}}/images/empty.png">{{/photos}}
        {{/attachments}}
        
      </div>
    </div>
  </body>
</html>
