<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}  
        <h1>{{label}}</h1>
      </div>
      <div data-role="content">
        <h3>{{label}}</h3>
	<ul data-role="listview">
	{{#observations}}
	  <li><a href="/observations/{{id}}">{{label}}</a></li>
	{{/observations}}
        </ul>
        <div id="point-{{id}}-map" style="height:300px;border:1px solid black"></div>
      </div>
    </div>
  </body>
</html>
